* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
li a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.thumb-img {
  max-height: 300px;
}

.card {
  max-height: 400px;
  overflow: hidden;
  margin-bottom: 2rem;
}
