* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
li a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.thumb-img {
  max-height: 300px;
}

h1.main-title {
  font-style: oblique;
  color: rgb(83, 76, 66);
}

.card {
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
}

.card:hover .card-body {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.4s ease;
}

h6.card-subtitle {
  font-style: italic;
  color: rgb(239, 223, 193);
}

/* footer {
  position: relative;
  width: 100%;
} */
